@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inherit;
}

textarea {
  resize: none;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

/* Text properties */
.title-text {
  font-weight: 700;
  font-size: max(10.66vw, 40px);
  line-height: max(13.86vw, 52px);
  color: #172b4d;
}

.body-text {
  font-style: normal;
  font-weight: 400;
  font-size: max(4.26vw, 16px);
  line-height: max(6.4vw, 24px);
  color: #344563;
}

.supporting-text {
  font-size: max(4.26vw, 16px);
  font-weight: 500;
  line-height: max(6.4vw, 24px);
  color: #7f8cff;
}

.work-title-text {
  font-size: max(8.5vw, 32px);
  font-weight: 700;
  line-height: max(11.7vw, 44px);
  letter-spacing: 0;
  color: #172b4d;
}

.tag {
  display: inline;
  background: #ebebff;
  border-radius: 2.13vw;
  padding: 1.06vw 3.2vw;
  color: #6070ff;
  font-weight: 500;
  font-size: max(3.2vw, 12px);
  line-height: max(2.39vh, 16px);
  margin-right: max(2.13vw, 8px);
}

.client-role-year {
  font-weight: 600;
  font-size: max(3.46vw, 13px);
  line-height: max(4.26vw, 16px);
  gap: max(3.2vw, 12px);
  display: flex;
  align-items: center;
}

.client-role-year li {
  display: inline;
}

.work-client {
  color: #344563;
}

.work-role,
.work-year {
  color: #7a869a;
}

.bullet {
  color: #c1c7d0;
  font-size: max(6.4vw, 24px);
}

#boxes {
  font-size: max(5.33vw, 20px);
  font-weight: 500;
  line-height: max(6.4vw, 24px);
}

.contact-me-input {
  font-family: inherit;
  font-size: max(4.53vw, 17px);
  font-weight: 400;
  line-height: max(5.33vw, 20px);
  color: #172b4d;
}

#message-box {
  font-size: max(4vw, 15px);
  font-weight: 400;
  line-height: max(6.4vw, 24px);
}

@media screen and (min-width: 375px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 87.25vw 1fr;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
  }

  header {
    height: max(7.19vh, 48px);
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
  }

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
  }

  #logo {
    font-size: max(2.7vh, 18px);
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  #menu-icon {
    height: max(3.59vh, 24px);
    width: auto;
  }

  #front-page {
    background-image: url("./visuals/header-background-mobile.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 96.4%;
    width: 100%;
    border-bottom-left-radius: min(26.66vw, 100px);
    margin-top: 7.188vh;
  }

  #front-page-container {
    gap: 1.8vh;
    margin-top: max(17.09vh, 114px);
    margin-bottom: max(20.3%, 136px);
  }

  .icon {
    height: max(5.3vw, 20px);
  }

  .social-media-container {
    display: flex;
    justify-content: space-between;
    width: max(45.37vw, 170.17px);
  }

  #works-container {
    padding: 17.09vh 0;
    gap: 13.19vh;
  }

  .work-card {
    grid-column-start: 2;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: max(2.39vh, 16px);
    width: 100%;
    padding: 4.26vw 4.26vw;
    gap: max(1.79vh, 12px);
  }

  .work-text-container {
    display: flex;
    flex-direction: column;
    gap: max(1.79vh, 12px);
  }

  .tag-list {
    margin-top: max(3.2vw, 4px);
  }

  .button {
    width: fit-content;
    font-family: inherit;
    font-weight: 500;
    font-size: max(4.53vw, 17px);
    line-height: max(6.4vw, 24px);
    text-decoration: none;
    padding: max(3.2vw, 12px);
    border: 1px solid #6070ff;
    border-radius: max(2.13vw, 8px);
    color: #396df2;
    margin: max(3.2vw, 12px) 0;
  }

  .button:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }

  .button:active {
    border: 2px solid #2230d2;
    background: #2230d2;
    color: #fff;
  }

  #about-myself {
    background-color: #fff;
    width: 100%;
    border-top-right-radius: min(26.66vw, 100px);
    padding: 17.09vh 0 17.09vh 0;
  }

  #about-myself-container {
    gap: 1.79vh;
  }

  #about-myself-social {
    margin-top: 3.73vw;
    margin-left: 2.93vw;
  }

  .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.26vw;
    border-bottom: 1px solid #dfe1e6;
    height: max(18.93vw, 71px);
  }

  #box-languages {
    border-bottom: 0;
  }

  .chevron-icon {
    height: 6.4vw;
    width: 6.4vw;
    margin-right: 7.46vw;
  }

  .language-icon {
    width: 12.8vw;
    height: auto;
    margin-right: 16px;
  }

  .box-list {
    gap: max(1.79vh, 12px);
    padding: max(1.79vh, 12px);
    font-size: max(4vw, 15px);
    line-height: max(5.33vw, 20px);
  }

  .box-element {
    display: flex;
    align-items: center;
    background: #f7f7f9;
    border-radius: max(2.13vw, 8px);
    padding: 3.2vw;
    width: 100%;
  }

  #contact-me {
    background-color: #6070ff;
    background-image: url("./visuals/contact-me-background-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-top-left-radius: min(26.66vw, 100px);
    box-shadow: 0px -40vw #fff;
  }

  #contact-me-container h2,
  #contact-me-container p {
    color: #fff;
    text-align: center;
  }

  #contact-me-container {
    padding-top: 24.46vw;
    gap: max(3.2vw, 12px);
    padding-bottom: max(8.8vw, 33px);
  }

  #contact-me-form ul {
    gap: 5.3vw;
  }

  #contact-me-form {
    padding-top: max(10.6vw, 40px);
  }

  .contact-me-input {
    width: 100%;
    height: auto;
    padding: 4vw 10.13vw 4vw 4.26vw;
    border: 1px solid #cfd8dc;
    border-radius: max(2.13vw, 8px);
  }

  #message-box {
    height: max(45.33vw, 170px);
    font-family: inherit;
  }

  #submit-button {
    padding: 3.2vw 4.26vw;
  }
}
