@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  display: inherit;
}

textarea {
  resize: none;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

/* Mobile first approach */
@media screen and (min-width: 375px) {
  .title-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .body-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .supporting-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 12px;
  }

  .work-title-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    color: #172b4d;
  }

  .tag {
    display: inline;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 8px;
  }

  .client-role-year {
    font-weight: 600;
    font-size: 13px;
    line-height: 6px;
    gap: max(3.2vw, 12px);
    display: flex;
    align-items: center;
  }

  .client-role-year li {
    display: inline;
  }

  .work-client {
    color: #344563;
  }

  .work-role,
  .work-year {
    color: #7a869a;
  }

  .bullet {
    color: #c1c7d0;
    font-size: 24px;
  }

  #boxes {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 87.25vw 1fr;
  }

  .container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
  }

  header {
    height: max(7.19vh, 48px);
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
  }

  #logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  #logo:hover {
    animation: turnAround 1.68s ease-in;
  }

  @keyframes turnAround {
    0% {
      transform: rotate(0deg);
      letter-spacing: 0;
    }

    25% {
      transform: rotateY(180deg);
      color: #3e48a8;
    }

    50% {
      transform: rotateY(180deg) rotateX(180deg);
      color: #6070ff;
    }

    75% {
      transform: rotateY(360deg) rotateX(180deg);
      color: #3e48a8;
    }

    100% {
      transform: rotateY(360deg) rotateX(360deg);
      color: #6070ff;
    }
  }

  #mobile-menu {
    display: inline;
  }

  #desktop-menu {
    display: none;
  }

  #menu-icon {
    height: max(3.59vh, 24px);
    width: auto;
  }

  #front-page {
    background-image: url("./visuals/header-background-mobile.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 96.4%;
    width: 100%;
    border-bottom-left-radius: max(10vw, 100px);
    margin-top: 7.188vh;
  }

  #front-page-container {
    gap: 1.8vh;
    margin-top: max(17.09vh, 114px);
    margin-bottom: max(20.3%, 136px);
  }

  .icon {
    height: 20px;
    margin-right: 20px;
    transition: height 0.21s;
    position: absolute;
  }

  .icon:hover {
    height: 25px;
  }

  .icon:hover #front-page-container {
    margin-bottom: 250px;
  }

  .social-media-container {
    display: flex;
    justify-content: space-between;
    width: 170.17px;
  }

  .button {
    cursor: inherit;
    width: fit-content;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #396df2;
    margin: 12px 0;
    transition: background 0.1s, box-shadow 0.1s, color 0.1s, border 0.1s;
  }

  .button:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }

  .button:active {
    border: 2px solid #2230d2;
    background: #2230d2;
    color: #fff;
  }

  #works-container {
    padding: 17.09vh 0;
    gap: 13.19vh;
    align-items: center;
  }

  .work-card {
    position: relative;
    border-radius: 16px;
    width: 100%;
    padding: 1.66vw 1.66vw;
    gap: max(1.79vh, 12px);
    background-color: #fff;
  }

  .work-text-container {
    display: flex;
    flex-direction: column;
    gap: max(1.79vh, 12px);
  }

  .tag-list {
    margin-top: 4px;
  }

  #about-myself {
    background-color: #fff;
    width: 100%;
    border-top-right-radius: max(10vw, 100px);
    padding: 17.09vh 0 17.09vh 0;
  }

  #about-myself-container {
    gap: 1.79vh;
  }

  #about-myself-social {
    margin-top: 3.73vw;
    margin-left: 2.93vw;
  }

  .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.26vw;
    border-bottom: 1px solid #dfe1e6;
    height: 71px;
  }

  #box-languages {
    border-bottom: 0;
  }

  .chevron-icon {
    height: 24px;
    width: 24px;
    margin-right: 22px;
  }

  .language-icon {
    width: 48px;
    height: auto;
    margin-right: 16px;
  }

  .box-list {
    gap: 12px;
    padding: 12px;
    font-size: 15px;
    line-height: 20px;
  }

  .box-element {
    display: flex;
    align-items: center;
    background: #f7f7f9;
    border-radius: 8px;
    padding: 3.2vw;
    min-width: 35%;
    transition: background 0.21s, padding-left 0.21s;
  }

  .box-element:hover {
    background: #ececf0;
    padding-left: 2vw;
  }

  #contact-me {
    background-color: #6070ff;
    background-image: url("./visuals/contact-me-background-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-top-left-radius: max(10vw, 100px);
    box-shadow: 0 -160px #fff;
  }

  #contact-me-container h2,
  #contact-me-container p {
    color: #fff;
    text-align: center;
  }

  #contact-me-container {
    padding-top: 24.46vw;
    gap: max(3.2vw, 12px);
    padding-bottom: max(8.8vw, 33px);
  }

  #contact-me-form ul {
    gap: 5.3vw;
  }

  #contact-me-form {
    padding-top: max(10.6vw, 40px);
  }

  .contact-me-input {
    font-family: inherit;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #172b4d;
    width: 100%;
    height: 48px;
    padding: 15px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  #message-box {
    height: 170px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  #submit-button {
    padding: 12px 16px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 78.47vw 1fr;
  }

  header {
    height: max(5vw, 72px);
  }

  #mobile-menu {
    display: none;
  }

  #desktop-menu {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  #desktop-menu ul {
    flex-direction: row;
    gap: 32px;
    color: #344563;
  }

  #desktop-menu li:hover {
    position: relative;
    color: #7f8cff;
  }

  #front-page {
    background-image: url("./visuals/header-background-desktop.png");
    background-size: 97.04vw 50.1vw;
    background-position: center;
    margin-top: max(5vw, 72px);
  }

  #front-page-container {
    gap: max(0.83vw, 12px);
    margin-top: max(20vw, 288px);
    margin-bottom: max(17.7vw, 255px);
    padding: 0 105px;
  }

  .title-text {
    font-size: 48px;
    line-height: 60px;
    margin: 0;
  }

  .body-text {
    font-size: 20px;
    line-height: 28px;
  }

  #works-container {
    padding: max(9.86vw, 142px) 0;
    gap: max(9.86vw, 142px);
  }

  .work-card {
    border-radius: 24px;
    width: 100%;
    padding: 1.66vw;
    gap: max(3.19vh, 24px);
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    transition: margin-left 0.21s, box-shadow 0.21s, border 0.21s;
  }

  #work-card-01:hover,
  #work-card-03:hover {
    margin-left: 1.38vw;
    cursor: url("./visuals/hand-cursor.png"), auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    border: 2px solid #a7aeff;
  }

  #work-card-02,
  #work-card-04 {
    flex-direction: row-reverse;
    transition: margin-right 0.21s, box-shadow 0.21s, border 0.21s;
  }

  #work-card-02:hover,
  #work-card-04:hover {
    margin-right: 1.38vw;
    cursor: url("./visuals/hand-cursor.png"), auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    border: 2px solid #a7aeff;
  }

  .work-snapshot {
    object-fit: contain;
    width: 37.7vw;
    border-radius: 8px;
    transition: width 0.1s;
  }

  .work-title-text {
    font-size: 40px;
    line-height: 52px;
  }

  .client-role-year {
    font-size: 18px;
    line-height: 24px;
    gap: 12px;
  }

  .work-text-container p {
    font-size: 16px;
    line-height: 24px;
    height: auto;
  }

  #about-myself-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #about-myself-container .button {
    margin-top: 38px;
  }

  #about-myself-text-container {
    width: 100%;
    gap: max(0.83vw, 12px);
  }

  #about-myself-text-container p {
    font-size: 16px;
    line-height: 24px;
  }

  #about-myself-social {
    margin-top: 0.97vw;
    margin-left: 0.76vw;
  }

  .box {
    width: min(47.5vw, 684px);
    padding: 0 1.66vw;
  }

  .chevron-icon {
    margin-right: 0.13vw;
  }

  .box-list {
    flex-direction: row;
    width: max(28.75vw, 414px);
  }

  .box-element {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  #contact-me {
    background-image: url("./visuals/contact-me-background-desktop.png");
    background-position: center;
    background-size: 89.6vw;
    justify-items: center;
  }

  #contact-me-container {
    padding-top: 9.86vw;
    padding-bottom: max(8.8vw, 33px);
    gap: max(1.87vw, 27px);
    max-width: 801px;
    align-items: center;
  }

  #contact-me-container p {
    max-width: 569px;
  }

  #contact-me-form {
    padding: 0;
  }

  #contact-me-form ul {
    align-items: center;
    gap: 27px;
  }

  .contact-me-input {
    width: 31.04vw;
    height: 48px;
    border-radius: 2px;
    transition: padding-left 0.21s;
  }

  .contact-me-input:hover {
    padding-left: 21px;
  }
}
